<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/layout.html :: head}"></head>

    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>

        <!-- Zde později budeme vypisovat, že email, kterým se uživatel pokouší přihlásit, je již používán -->
        <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

        <article>
                <header>
                    <h1>Registrace</h1>
                </header>

                <section>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <form th:action="@{/account/register}" th:object="${userDTO}" method="post" class="d-flex flex-column gap-2">
                                <div class="form-group">
                                    <label for="email">Uživatelský e-mail</label>
                                    <input id="email" name="email" th:field="*{email}" class="form-control"/> <!-- Lekce 20 JAVA PRO SpringBoot Blog -->
                                    <small class="text-danger" th:errors="*{email}"></small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Heslo</label>
                                    <input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
                                    <small class="text-danger" th:errors="*{password}"></small>
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password">Heslo pro zopakování</label>
                                    <input id="confirm-password" name="password" type="password" th:field="*{confirmPassword}" class="form-control"/>
                                    <small class="text-danger" th:errors="*{confirmPassword}"></small>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="clanky-tlacitko align-self-start">Registrovat</button>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <a th:href="@{/account/login}">Přihlásit se</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
        </article>

        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>